USE [master]
GO
/****** Object:  Database [Contoso]    Script Date: 11/04/2020 11:23:40 ******/
CREATE DATABASE [Contoso]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Contoso', FILENAME = N'C:\Users\peribei\Desktop\SecureDevOps\Labs\Contoso Times\data\Contoso.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Contoso_log', FILENAME = N'C:\Users\peribei\Desktop\SecureDevOps\Labs\Contoso Times\data\Contoso_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Contoso].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Contoso]
GO
USE [Contoso]
GO
/****** Object:  Table [dbo].[News]    Script Date: 11/04/2020 11:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[ItemID] [int] IDENTITY(1000,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Title] [varchar](128) NOT NULL,
	[Subtitle] [varchar](512) NOT NULL,
	[BodyText] [text] NOT NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/04/2020 11:23:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[News] ON 

SET IDENTITY_INSERT [dbo].[News] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Password], [Email], [CreatedDate]) VALUES (1, N'user', N'123', N'user@foo.com', CAST(N'2019-08-12T04:24:40.463' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  StoredProcedure [dbo].[Insert_User]    Script Date: 11/04/2020 11:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[Insert_User]
      @Username NVARCHAR(20),
      @Password NVARCHAR(20),
      @Email NVARCHAR(30)
AS
BEGIN
      SET NOCOUNT ON;
      IF EXISTS(SELECT UserId FROM Users WHERE Username = @Username)
      BEGIN
            SELECT -1 -- Username exists.
      END
      ELSE IF EXISTS(SELECT UserId FROM Users WHERE Email = @Email)
      BEGIN
            SELECT -2 -- Email exists.
      END
      ELSE
      BEGIN
            INSERT INTO [Users]
                     ([Username]
                     ,[Password]
                     ,[Email]
                     ,[CreatedDate])
            VALUES
                     (@Username
                     ,@Password
                     ,@Email
                     ,GETDATE())
            
            SELECT SCOPE_IDENTITY() -- UserId                  
     END
END
GO
/****** Object:  StoredProcedure [dbo].[proc_DeleteNewsItem]    Script Date: 11/04/2020 11:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[proc_DeleteNewsItem] @ItemID int AS
    DELETE FROM [News] WHERE [ItemID]=@ItemID
GO
/****** Object:  StoredProcedure [dbo].[proc_GetAllNewsItems]    Script Date: 11/04/2020 11:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[proc_GetAllNewsItems] AS
    SELECT [ItemID], [CategoryID], [Title] FROM [News] ORDER BY [CategoryID], [ItemID]
GO
/****** Object:  StoredProcedure [dbo].[proc_GetAllNewsItemsInCategory]    Script Date: 11/04/2020 11:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[proc_GetAllNewsItemsInCategory] @CategoryID int AS
    SELECT [ItemID], [Title], [BodyText] FROM [News] WHERE [CategoryID]=@CategoryID ORDER BY [ItemID]
GO
/****** Object:  StoredProcedure [dbo].[proc_GetNewsItem]    Script Date: 11/04/2020 11:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--------------------------------------------------------------

CREATE PROCEDURE [dbo].[proc_GetNewsItem] @ItemID int AS
    SELECT [ItemID], [CategoryID], [Title], [Subtitle], [BodyText] FROM [News] WHERE [ItemID]=@ItemID
GO
/****** Object:  StoredProcedure [dbo].[proc_GetNewsItemCategory]    Script Date: 11/04/2020 11:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[proc_GetNewsItemCategory] @ItemID int AS
    SELECT [CategoryID] FROM [News] WHERE [ItemID]=@ItemID
GO
/****** Object:  StoredProcedure [dbo].[proc_GetNewsItemCategoryAndTitle]    Script Date: 11/04/2020 11:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[proc_GetNewsItemCategoryAndTitle] @ItemID int AS
    SELECT [CategoryID], [Title] FROM [News] WHERE [ItemID]=@ItemID
GO
/****** Object:  StoredProcedure [dbo].[proc_GetNewsItemTitleAndBodyText]    Script Date: 11/04/2020 11:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[proc_GetNewsItemTitleAndBodyText] @ItemID int AS
    SELECT [Title], [BodyText] FROM [News] WHERE [ItemID]=@ItemID
GO
/****** Object:  StoredProcedure [dbo].[proc_UpdateNewsItem]    Script Date: 11/04/2020 11:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[proc_UpdateNewsItem] @ItemID int, @CategoryID int, @Title varchar (128), @Subtitle varchar (512), @BodyText text AS
    UPDATE [News] SET [CategoryID]=@CategoryID, [Title]=@Title, [Subtitle]=@Subtitle, [BodyText]=@BodyText WHERE [ItemID]=@ItemID
GO
/****** Object:  StoredProcedure [dbo].[Validate_User]    Script Date: 11/04/2020 11:23:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Validate_User]
      @Username NVARCHAR(20),
      @Password NVARCHAR(20)
AS
BEGIN
      SET NOCOUNT ON;
      DECLARE @UserId INT
      
      SELECT @UserId = UserId 
      FROM Users WHERE Username = @Username AND [Password] = @Password
      
      IF @UserId IS NOT NULL
      BEGIN
            SELECT @UserId [UserId] -- User Valid            
      END
      ELSE
      BEGIN
            SELECT -1 -- User invalid.
      END
END
GO
USE [master]
GO
